@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@font-face {
   font-family: 'Open Sans', sans-serif;
}

/* Container principaux de la page */

body {
    background-color:#E5E5E5;
}
.container {
    float:left;
}
.dark {
    background-color:#545252;
    color: white;
}
.light {
    background-color:#E5E5E5;
}

/* Partie gauche - nom + pseudo + présentation */

.personame {
    margin-top: 100px;
}
.Pseudo {
    color:#F4A443;
}
.pseudo {
   
}


/* Cards présentations des projets */

.card {
    margin-top: 7%;
    border-color: darkgrey;
    color: black;
}

.card-header {
    background-color: #F4A443;
    line-height: normal;
}
.card-body {
    background-color: #E5E5E5;
    font-size: 14px;  
    padding: 5px;
}
.card-img-top {
    width:222px;
    height:177px;
    background-size: cover;
}


/* Partie NAVBAR */ 

.navImg {
    width:100px;
}
/* passer      couleurwild:hover    en   couleurwild:visited (css)*/
.couleurwild{
   color:#ffffff;
}
.couleurwild:hover{
   color: black;
}

button:focus {
   outline: 5px auto rgba(244,164,67,1.0);
}
.dropdown-item:hover {
    background-color: rgba(244,164,67,1.0);
    
}

/* BARRE DE PROGRESSION COMPETENCES */

    /* BARRE HTML */

.progress-bar-html { 
    width: 230px;
    height: 28px;
    padding: 4px;
    background-color: black;
    border-radius: 16px;
}

.progress-bar-html:before { 
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 20px;
    background: #999;
    border-radius: 12px;
}

.progress-bar-html:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 200px;
    height: 20px;
    overflow: hidden;
    border-radius: 12px;
    transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.20;
}


.orange:before {
    background: #F4A443;
}


/* BARRE JAVASCRIPT */

.progress-bar-js { 
    width: 230px;
    height: 28px;
    padding: 4px;
    background-color: black;
    border-radius: 16px;
}

.progress-bar-js:before { 
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 20px;
    background: #999;
    border-radius: 12px;
}

.progress-bar-js:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 25px;
    height: 20px;
    overflow: hidden;
    border-radius: 12px;
    transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.20;
}
.jaune:before {
    background: yellow;
}

/* BARRE CSS3 */

.progress-bar-css { 
    width: 230px;
    height: 28px;
    padding: 4px;
    background-color: black;
    border-radius: 16px;
}

.progress-bar-css:before { 
    content: '';
    display: block;
    position: absolute;
    width: 150px;
    height: 20px;
    background: #999;
    border-radius: 12px;
    
}

.progress-bar-css:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 150px;
    height: 20px;
    overflow: hidden;
    border-radius: 12px;
    transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.20;
}
.blue:before { 
  background: #0066ff;
}


/* SECTION PERSO A DROITE */
.perso-section .row .img-plainpied {
    margin: 0 auto;
    display: block;
    border-radius: 25px;
}

.img-perso-ronde {
    width: 220px;
}
.perso-section .logo-presentation {
    width: 60px;
}

.descriptionPerso {
    margin-left: 10%;
    margin-right:10%;
}

.description-list {
    margin: auto;
}
.description-list, .media {
    align-items: center;
    text-align: center;
}
.sociallink {
    color: black;
}


@media (min-width: 576px) and (max-width: 767.99px) {
    .perso-section {
    margin-top: 100px;
    }
}
@media (min-width:768px) {
    .perso-section {
    margin-top: 20%;
    }
}